body {
  margin: 0;
  padding: 0;
}

.widgets-wrapper {
  text-align: center;

  .widget-wrapper {
    display: inline-block;
    width: 49%;
  }
}

#tradingview_c1112 {
  height: 320px;
}

#close-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.scroll-buttons {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  .scroll-down {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
